.dashboard-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.form-filtro {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.form-filtro input {
  padding: 8px;
  font-size: 16px;
}

.form-filtro button {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
}

.lista-correias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
